<div class="rl-date-range-modal">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3 col-list-ranges">
        <ul class="list-unstyled">
          <li
            ng-repeat="range in ::$ctrl.resolve.ranges"
            ng-click="$ctrl.setRange(range)"
            ng-class="{'active':$ctrl.range.name === range.name}">
            {{range.name}}
          </li>
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="datepicker" uib-datepicker ng-model="$ctrl.range.start" datepicker-options="$ctrl.options.start"></div>
          </div>
          <div class="col-md-6 text-center">
            <div class="datepicker" uib-datepicker ng-model="$ctrl.range.end" datepicker-options="$ctrl.options.end"></div>
          </div>
        </div>
        <br>
        <em class="bookend" ng-if="$ctrl.resolve.cycles">
          <span>&nbsp;</span> Indicates cycle start/end.
        </em>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <span>
      <b ng-if="$ctrl.range.name">{{$ctrl.range.name}}:</b>
      {{$ctrl.range.start | date:'yyyy/MM/dd'}} &mdash; {{$ctrl.range.end | date:'yyyy/MM/dd'}}
    </span>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.update()">Update</button>
  </div>
</div>
