@import './src/styles/variables';

.rl-date-range-modal {
  .col-list-ranges {
    li {
      display: block;
      padding: 5px ($grid-gutter-width / 2);
      color: $text-color;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: $rl-medium-blue-gray;
        color: $rl-white;
        text-decoration: none;
      }
    }
  }

  .datepicker {
    display: inline-block;

    div:focus {
      outline: 0;
    }
  }

  .bookend span {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: $rl-primary-color;
    border-radius: 9px;
    color: $text-color;
  }

  .modal-footer span {
    margin-right: ($grid-gutter-width / 2);
  }
}
