<div class="rl-expanding-header" ng-class="{'rl-expanding-header--open': $ctrl.open}">

  <div class="row">
    <div class="col-sm-8">
      <h5 ng-if="$ctrl.data.subTitle">
        {{$ctrl.data.subType}}:
        <a ui-sref="{{$ctrl.data.subLink}}">
          {{$ctrl.data.subTitle}}
        </a>
      </h5>
      <h1>
        <b ng-if="$ctrl.data.type">{{$ctrl.data.type}}:</b>
        {{$ctrl.data.title}}
      </h1>
    </div>
    <div class="col-sm-4">
      <rl-date-range class="pull-right"></rl-date-range>
    </div>
  </div>


  <div class="row collapse" uib-collapse="!$ctrl.open">
    <div ng-class="$ctrl.column" ng-repeat="col in $ctrl.data.columns">
      <h3>{{col.title}}</h3>
      <table class="table table-condensed">
        <tbody>
          <tr ng-repeat="row in col.rows">
            <th>{{row.name}}</th>
            <td>
              <a ng-if="row.link" ui-sref="{{row.link}}">
                {{row.value}}
              </a>
              <span ng-if="!row.link">{{row.value}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="btn btn-link rl-expanding-header_button" type="button" ng-click="$ctrl.toggle()">
    <i class="fa fa-chevron-up" ng-class="{'fa-chevron-down': !$ctrl.open}"></i>
  </button>

</div>
