<div class="rl-container">
  <div class="rl-content">

    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>{{'home.title' | translate}}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <label>Platform</label>
          <select class="form-control">
            <option>USA</option>
            <option>CAN</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label>CP</label>
          <select class="form-control">
            <option>Asher Nierman</option>
            <option>John Smith</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label>DMC</label>
          <select class="form-control">
            <option>All</option>
            <option>National</option>
            <option>Local</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <label class="hidden-md hidden-sm hidden-xs">&nbsp;</label>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Search">
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="hidden-md hidden-sm hidden-xs">&nbsp;</label>
          <button class="btn btn-block btn-info">
            <i class="fa fa-refresh"></i>
            Refresh Campaigns
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-italic">
          &#42; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl nisl, eleifend et metus sed, mollis euismod mauris. Curabitur eu nisi vitae nisi gravida fermentum.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped table-dashboard">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>
                  Campaign<br>
                  (MCID)
                </th>
                <th uib-tooltip="Priority" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Pri.
                </th>
                <th>
                  Budget
                </th>
                <th uib-tooltip="Sentient Score" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Set. Scr.
                </th>
                <th uib-tooltip="Performance" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Perf.
                </th>
                <th>
                  CPL
                </th>
                <th>
                  CPL Trend
                </th>
                <th uib-tooltip="Utilization" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Utiliz.
                </th>
                <th>
                  $/Click
                </th>
                <th>
                  $/Call
                </th>
                <th>
                  CTR
                </th>
                <th uib-tooltip="Average Quality Score" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Avg. QS
                </th>
                <th>
                  Click/Lead
                </th>
                <th uib-tooltip="Budget Score" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Bud. Scr.
                </th>
                <th>
                  Alerts
                </th>
                <th uib-tooltip="Last Client Call" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Cit. Call
                </th>
                <th uib-tooltip="Reviewed" tooltip-placement="bottom-left" tooltip-append-to-body="true">
                  Rev.
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in $ctrl.rows">
                <td class="expand">
                  <i class="fa fa-plus-circle"></i>
                </td>
                <td class="name">
                  My Campaign {{$index}}<br>
                  MCID: <a ui-sref="campaign.detail({mcid:123456})">123456</a>
                </td>
                <td class="priority">
                  1
                </td>
                <td class="budget">
                  $7,777
                </td>
                <td class="set-score">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="performance" ng-class="{'red': row < 8}">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="cpl">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="cpl-trend" ng-class="{'yellow': row < 5}">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="utilization">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="cost-per-click" ng-class="{'blue': row < 5}">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="cost-per-call">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="ctr">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="avg-qs">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="clicks-per-lead">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="budget-score">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="alerts">
                  <i class="fa fa-flag"></i>
                </td>
                <td class="client-call red">
                  <i class="fa fa-circle"></i>
                </td>
                <td class="reviewed">
                  <i class="fa fa-check-square-o" ng-class="{'fa-square-o': $index > 6}"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!-- close .rl-content -->
</div><!-- close .rl-container -->
