@import './src/styles/variables';

$icon-padding: 10px;

.navbar {
  margin-bottom: 0;
  border-bottom: 0;

  .navbar-header {
    z-index: 10;

    .navbar-brand {
      padding-top: $icon-padding;
      padding-bottom: $icon-padding;

      svg {
        fill: $rl-primary-color;
        width: 30px;
        height: 30px;
      }
    }
  }

  .navbar-collapse {
    z-index: 1;
  }

}
