<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="$ctrl.toggle()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <svg>
          <use xlink:href="/img/icons.svg#reachlocal-icon"></use>
        </svg>
      </a>
    </div>

    <div class="navbar-collapse collapse" ng-class="{'in': !$ctrl.collapsed}">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home" ng-click="$ctrl.collapse()" title="Home">
            <i class="fa fa-lg fa-home"></i>
          </a>
        </li>
         <li ng-class="{'active': $ctrl.advertiser}">
          <a ui-sref="advertisers" ng-click="$ctrl.collapse()" title="Advertisers">
            <i class="fa fa-lg fa-users"></i>
          </a>
        </li>
        <li ng-class="{'active': $ctrl.campaign}">
          <a ui-sref="campaigns" ng-click="$ctrl.collapse()" title="Campaigns">
            <i class="fa fa-lg fa-folder"></i>
          </a>
        </li>
        <li ng-class="{'active': $ctrl.order}">
          <a ui-sref="orders" ng-click="$ctrl.collapse()" title="Orders">
            <i class="fa fa-lg fa-file-text"></i>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" uib-dropdown-toggle>
            Hello &lt;User&gt; <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a>Menu Item</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
