@import './src/styles/variables';

.rl-body {
  position: absolute;
  top: $navbar-height;
  right: 0;
  bottom: $navbar-height;
  left:0 ;
}

.rl-container {
  display: flex;
  height: 100%;

  .rl-content {
    flex: 2;
    padding: ($grid-gutter-width  / 2);
    overflow: auto;

    h1:first-child {
      margin-top: 0;
    }
  }
}
