<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Campaign Overview</h2>
    </div>
  </div>
</div>

<div class="row row-striped">
  <div class="col-xs-12">

    <h3>Overview</h3>

    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>$2.93</h2>
            CPM
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>83%</h2>
            Utilization
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>3.93%</h2>
            CTR
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>$5.56</h2>
            $/Click
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>4</h2>
            Frequency
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>7</h2>
            Relevance Score
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row padding-top padding-bottom-lg">
  <div class="col-xs-12">
    <h3>Trend Graph</h3>
    <div class="row">
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics.trend[0]"
          ng-change="$ctrl.getTrendData()"
          ng-options="item as item.label for item in $ctrl.metricFilter('trend', 1)">
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics.trend[1]"
          ng-change="$ctrl.getTrendData()"
          ng-options="item as item.label for item in $ctrl.metricFilter('trend', 0)">
        </select>
      </div>
    </div>
    <br>
    <div class="trend-chart">
      <canvas class="chart-bar"
        chart-data="$ctrl.trendChart.data"
        chart-labels="$ctrl.trendChart.labels"
        chart-colors="$ctrl.trendChart.colors"
        chart-dataset-override="$ctrl.trendChart.override"
        chart-options="$ctrl.trendChart.options"></canvas>
    </div>
    <table class="table table-trend-metrics">
      <tr>
        <td ng-repeat="trend in $ctrl.metrics.trend">
          <span class="fa fa-circle" ng-style="{'color': $ctrl.trendChart.colors[$index]}"></span>
          {{trend.label}}:
          <b>100,000</b>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row row-striped padding-top-lg padding-bottom">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading--form">
        <div class="row">
          <div class="col-sm-8">
            <h3 class="panel-title">Age &amp; Gender</h3>
          </div>
          <div class="col-sm-2">
            <select class="form-control input-sm"
              ng-model="$ctrl.metrics.demographics[0]"
              ng-options="item as item.label for item in $ctrl.metricFilter('demographics', 1)">
            </select>
          </div>
          <div class="col-sm-2">
            <select class="form-control input-sm"
              ng-model="$ctrl.metrics.demographics[1]"
              ng-options="item as item.label for item in $ctrl.metricFilter('demographics', 0)">
            </select>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 gender-label">
            <div class="text-center">
              <span class="fa fa-5x fa-female"></span>
            </div>
            <p>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric1.female}"></span>
              {{$ctrl.metrics.demographics[0].label}}:
              <span class="pull-right">
                <b>17&#37;</b>
                (7,777)
              </span>
            </p>
            <p>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric2.female}"></span>
              {{$ctrl.metrics.demographics[1].label}}:
              <span class="pull-right">
                <b>33&#37;</b>
                (22,222)
              </span>
            </p>
          </div>
          <div class="col-md-8">
            <div class="demographic-chart">
              <canvas class="chart-bar"
                chart-data="$ctrl.demographicChart.data"
                chart-labels="$ctrl.demographicChart.labels"
                chart-dataset-override="$ctrl.demographicChart.override"
                chart-options="$ctrl.demographicChart.options">
              </canvas>
            </div>
          </div>
          <div class="col-md-2 gender-label">
            <div class="text-center">
              <span class="fa fa-5x fa-male"></span>
            </div>
            <p>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric1.male}"></span>
              {{$ctrl.metrics.demographics[0].label}}:
              <span class="pull-right">
                <b>40&#37;</b>
                (55,555)
              </span>
            </p>
            <p>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric2.male}"></span>
              {{$ctrl.metrics.demographics[1].label}}:
              <span class="pull-right">
                <b>60&#37;</b>
                (88,999)
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading--form">
        <h3 class="panel-title">Mobile vs. Desktop</h3>
      </div>
      <div class="panel-body device-chart">
        <canvas class="chart-doughnut"
          chart-data="$ctrl.deviceChart.data"
          chart-labels="$ctrl.deviceChart.labels"
          chart-colors="$ctrl.deviceChart.colors"
          chart-dataset-override="$ctrl.deviceChart.override"
          chart-options="$ctrl.deviceChart.options">
        </canvas>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="label in $ctrl.deviceChart.labels">
          <b class="pull-right">{{$ctrl.deviceChart.data[$index]}}&#37;</b>
          <span class="fa fa-circle" ng-style="{'color': $ctrl.deviceChart.colors[$index]}"></span>
          {{label}}:
        </li>
      </ul>

    </div>
  </div>
</div>
