@import './src/styles/variables';

.trend-chart {
  height: 350px;
  margin-bottom: $grid-gutter-width;
}

.table-trend-metrics {
  td {
    width: 50%;

    &:first-child {
      text-align: right;
    }
  }
}

.demographic-chart {
  height: 300px;
}

.gender-label {
  .fa-5x {
    margin: ($grid-gutter-width * 2);
  }
}

.device-chart {
  min-height: 225px;
}
