<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Campaign Overview</h2>
    </div>
  </div>
</div>

<div class="row row-striped">
  <div class="col-xs-12">

    <h3>Overview</h3>

    <div class="row">
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>$2.93</h2>
            CPM
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>83%</h2>
            Utilization
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>3.93%</h2>
            CTR
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>$5.56</h2>
            $/Click
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>4</h2>
            Frequency
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h2>7</h2>
            Relevance Score
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row padding-top padding-bottom-lg">
  <div class="col-xs-12">
    <h3>Trend Graph</h3>
    <div class="row">
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics.trend[0]"
          ng-change="$ctrl.getTrendData()"
          ng-options="item as item.label for item in $ctrl.metricFilter('trend', 1)">
        </select>
      </div>
      <div class="col-sm-2">
        <select class="form-control"
          ng-model="$ctrl.metrics.trend[1]"
          ng-change="$ctrl.getTrendData()"
          ng-options="item as item.label for item in $ctrl.metricFilter('trend', 0)">
        </select>
      </div>
    </div>
    <br>
    <div class="trend-chart">
      <rl-chart data="$ctrl.trendChart.chart"></rl-chart>
    </div>
    <table class="table table-trend-metrics">
      <tr>
        <td ng-repeat="trend in $ctrl.metrics.trend">
          <span class="fa fa-circle" ng-style="{'color': $ctrl.trendChart.colors[$index]}"></span>
          {{trend.label}}:
          <b>100,000</b>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row row-striped padding-top-lg padding-bottom">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading--form">
        <div class="row">
          <div class="col-sm-8">
            <h3 class="panel-title">Age &amp; Gender</h3>
          </div>
          <div class="col-sm-2">
            <select class="form-control input-sm"
              ng-model="$ctrl.metrics.demographics[0]"
              ng-options="item as item.label for item in $ctrl.metricFilter('demographics', 1)">
            </select>
          </div>
          <div class="col-sm-2">
            <select class="form-control input-sm"
              ng-model="$ctrl.metrics.demographics[1]"
              ng-options="item as item.label for item in $ctrl.metricFilter('demographics', 0)">
            </select>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-2 text-center">
            <br><br>
            <h2>{{$ctrl.metrics.demographics[0].label}}</h2>
            <br>
            <h4>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric1.male}"></span>
              Male
            </h4>
            <h5>
              <b>62&#37;</b>
              (7,777)
            </h5>
            <h4>
              <span class="fa fa-circle" ng-style="{'color': $ctrl.demographicChart.colors.metric1.female}"></span>
              Female
            </h4>
            <h5>
              <b>35&#37;</b>
              (3,777)
            </h5>
          </div>

          <div class="col-md-4">
            <div class="demographic-chart">
              <rl-chart data="$ctrl.demographicChart.metric1"></rl-chart>
            </div>
          </div>

          <div class="col-md-4">
            <div class="demographic-chart">
              <rl-chart data="$ctrl.demographicChart.metric2"></rl-chart>
            </div>
          </div>

          <div class="col-md-2 text-center">
            <br><br>
            <h2>{{$ctrl.metrics.demographics[1].label}}</h2>
            <br>
            <h4>
              <span class="fa fa-male" ng-style="{'color': $ctrl.demographicChart.colors.metric2.male}"></span>
              Male
            </h4>
            <h5>
              <b>62&#37;</b>
              (7,777)
            </h5>
            <h4>
              <span class="fa fa-female" ng-style="{'color': $ctrl.demographicChart.colors.metric2.female}"></span>
              Female
            </h4>
            <h5>
              <b>35&#37;</b>
              (3,777)
            </h5>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading--form">
        <div class="row">
          <div class="col-md-9">
            <h3 class="panel-title">Mobile vs. Desktop</h3>
          </div>
          <div class="col-md-3">
            <select class="form-control input-sm"
              ng-model="$ctrl.metrics.devices[0]"
              ng-options="item as item.label for item in $ctrl.metrics.options">
            </select>
          </div>
        </div>
      </div>
      <div class="panel-body text-center">
        <div class="device-chart">
          <rl-chart data="$ctrl.deviceChart.chart"></rl-chart>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="label in $ctrl.deviceChart.chart.data.labels">
          <b class="pull-right">{{$ctrl.deviceChart.chart.data.datasets[0].data[$index]}}&#37;</b>
          <span class="fa fa-circle" ng-style="{'color': $ctrl.deviceChart.chart.data.datasets[0].backgroundColor[$index]}"></span>
          {{label}}:1
        </li>
      </ul>

    </div>
  </div>
</div>
