<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h2>Advertiser Detail</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>$2.93</h2>
                CPM
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>83%</h2>
                Utilization
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>3.93%</h2>
                CTR
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>$5.56</h2>
                $/Click
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>##</h2>
                Frequency
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <h2>#</h2>
                Relevance Score
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
